body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.huge.header {
	margin-top: 5em;
}

.ui.cards {
	margin-top: 10em;
}

.statistic .ui.red.label {
	margin-top: 1em;
}

#last-deployed {
	padding-top: 1em;
}

.pulsate {
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.2;
}
@-webkit-keyframes pulsate {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.2;
	}
}